
*.cache
AppReservas.Backend/.vs/AppReservas.Backend/v16/.suo
*.v2
*.pdb
*.dll
*.exe
/AppReservas.Backend/AppReservas.Backend.Entity/obj/AppReservas.Backend.Entity.csproj.nuget.dgspec.json
/AppReservas.Backend/AppReservas.Backend.Entity/obj/project.assets.json
/AppReservas.Backend/AppReservas.Backend.Entity/obj/Debug/netcoreapp3.1/AppReservas.Backend.Entity.csproj.FileListAbsolute.txt
/AppReservas.Backend/AppReservas.Backend.Entity/obj/Debug/netcoreapp3.1/AppReservas.Backend.Entity.AssemblyInfo.cs
/AppReservas.Backend/AppReservas.Backend.Entity/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/AppReservas.Backend/AppReservas.Backend.Entity/obj/AppReservas.Backend.Entity.csproj.nuget.g.targets
/AppReservas.Backend/AppReservas.Backend.Entity/obj/AppReservas.Backend.Entity.csproj.nuget.g.props
/AppReservas.Backend/AppReservas.Backend.Data/obj/project.assets.json
/AppReservas.Backend/AppReservas.Backend.Data/obj/Debug/netcoreapp3.1/AppReservas.Backend.Data.csproj.FileListAbsolute.txt
/AppReservas.Backend/AppReservas.Backend.Data/obj/Debug/netcoreapp3.1/AppReservas.Backend.Data.csproj.CopyComplete
/AppReservas.Backend/AppReservas.Backend.Data/obj/Debug/netcoreapp3.1/AppReservas.Backend.Data.AssemblyInfo.cs
/AppReservas.Backend/AppReservas.Backend.Data/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/AppReservas.Backend/AppReservas.Backend.Data/obj/AppReservas.Backend.Data.csproj.nuget.g.targets
/AppReservas.Backend/AppReservas.Backend.Data/obj/AppReservas.Backend.Data.csproj.nuget.g.props
/AppReservas.Backend/AppReservas.Backend.Data/obj/AppReservas.Backend.Data.csproj.nuget.dgspec.json
/AppReservas.Backend/AppReservas.Backend.API/bin/Debug/netcoreapp3.1/appsettings.json
/AppReservas.Backend/AppReservas.Backend.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
/AppReservas.Backend/AppReservas.Backend.API/bin/Debug/netcoreapp3.1/AppReservas.Backend.API.runtimeconfig.json
/AppReservas.Backend/AppReservas.Backend.API/bin/Debug/netcoreapp3.1/AppReservas.Backend.API.runtimeconfig.dev.json
/AppReservas.Backend/AppReservas.Backend.API/bin/Debug/netcoreapp3.1/AppReservas.Backend.API.deps.json
/AppReservas.Backend/AppReservas.Backend.API/obj/project.assets.json
/AppReservas.Backend/AppReservas.Backend.API/obj/Debug/netcoreapp3.1/staticwebassets/AppReservas.Backend.API.StaticWebAssets.xml
/AppReservas.Backend/AppReservas.Backend.API/obj/Debug/netcoreapp3.1/AppReservas.Backend.API.csproj.FileListAbsolute.txt
/AppReservas.Backend/AppReservas.Backend.API/obj/Debug/netcoreapp3.1/AppReservas.Backend.API.csproj.CopyComplete
/AppReservas.Backend/AppReservas.Backend.API/obj/Debug/netcoreapp3.1/AppReservas.Backend.API.AssemblyInfo.cs
/AppReservas.Backend/AppReservas.Backend.API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/AppReservas.Backend/AppReservas.Backend.API/obj/AppReservas.Backend.API.csproj.nuget.g.targets
/AppReservas.Backend/AppReservas.Backend.API/obj/AppReservas.Backend.API.csproj.nuget.g.props
/AppReservas.Backend/AppReservas.Backend.API/obj/AppReservas.Backend.API.csproj.nuget.dgspec.json
/AppReservas.Backend/AppReservas.Backend.Data/bin/Debug/netcoreapp3.1/AppReservas.Backend.Data.deps.json
/AppReservas.Backend/AppReservas.Backend.Entity/bin/Debug/netcoreapp3.1/AppReservas.Backend.Entity.deps.json
